* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background: #efecec; /* soft gray */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}

.calculator {
  width: 370px;
  margin: 0 auto;
  border-radius: 22px; 
  background: #f7e9ea;
  box-shadow: 10px 10px 0 #62405B;
  overflow: hidden;
  border: 3px solid #62405B; 
  display: flex;
  flex-direction: column;
}